NODE_ENV=development
PORT=8000

CLIENT_URL=http://localhost:3000
BETTER_AUTH_URL=http://localhost:8000/api/auth

DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/bookraq_db?schema=public"

BETTER_AUTH_SECRET="replace-this-with-a-random-secret-of-at-least-32-characters"

IMGBB_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
# schema change hole command
# yarn prisma format
# yarn prisma migrate dev --name add_taskflow_models
# yarn prisma generate
